*{
    margin: 10;
    padding: 10;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}
body{
    background: #111;
    color: #fff;
}
header{
    background: #000;
    padding: 20px 10%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 28px;
}
.logo span{
    color: #00bfff;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li {
margin: 20px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
.hero{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero h1{
    font-size: 50px;
}
.hero span{
    color: #00bfff;
}
.hero p{
    margin: 15px 0;
}
.btn{
    display: inline-block;
    padding: 10px 20px;
    background: #00bfff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.about
.skills
.contact{
    padding: 60px 10%;
    text-align: center;
}

.skill-box{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}
.card{
    background: #222;
    padding: 30px;
    width: 200px;
    border-radius: 10px;
}
.card i{
    font-size: 50px;
    color: #00bfff;
    margin-bottom: 10px;
}
footer{
    background: #000;
    text-align: center;
    padding: 20px;
    
}
@media(max-width:768px){
    nav{
        flex-direction: column;
    }
    nav ul{
        margin-top: 10px;
    }
    .hero h1{
        font-size: 35px;
        
    }
}